<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('../Common_Elements/head.ejs') %>
    <link rel="stylesheet" href="style_admin.css"/>
    <title>Админ</title>
  </head>
  <body>
    <div class="wrapper">
        <%- include('../Common_Elements/header.ejs') %>
        <main class="main">
            <div class="col-sm-12">
              <div class="wrapper-table">
                <table class="table-users">
                  <thead>
                      <tr>
                          <th scope="col">Имя пользователя</th>
                          <th scope="col">Роль</th>
                          <th scope="col">Действия</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% users.forEach(user => { %>
                          <tr>
                              <td><%= user.username %></td>
                              <td><%= user.role %></td>
                              <td>
                                <div class="actions-container">
                                  <a class="ref-edit" href="/admin/<%= user._id %>/edit">Редактировать</a>
                                  <!-- <a class="ref-edit" href="/admin/<%= user._id %>/delete">Удалить</a> -->
                                  <a class="ref-edit" href="#" onclick="confirmDelete('<%= user._id %>')" data-id="<%= user._id %>">Удалить</a>
                                  <a class="ref-edit" href="/admin/<%= user._id %>/remove-prog-carousel">Сброс прогресса карусели</a>
                                  <a class="ref-edit" href="/admin/<%= user._id %>/remove-prog-square">Сброс прогресса квадрата</a>
                                </div>                                  
                              </td>
                          </tr>
                      <% }); %>
                  </tbody>
                </table>  
              </div>
              <div class="href-container">
                <a class="ref-edit" href="/admin/add">Добавить нового пользователя</a>
                <a class="ref-edit" href="/admin/remove-prog-carousel">Общий сброс прогресса карусели</a>
                <a class="ref-edit" href="/admin/remove-prog-square">Общий сброс прогресса квадрата</a>
              </div>        
          </div>
        </main>
        <%- include('../Common_Elements/footer.ejs') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="confirmDelete.js"></script>
  </body>
</html>
