<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('com-head.ejs') %>
    <link rel="stylesheet" href="../styles/admin-style.css"/>
    <title>Админ</title>
  </head>
  <body>
    <div id="deleteConfirmationModal" class="modal" tabindex="-1" aria-labelledby="confirmationTitle" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationTitle">Подтверждение удаления</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="confirmationMessage">Вы уверены, что хотите выполнить это действие?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="button" class="btn btn-danger" id="confirmDeleteButton">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <%- include('com-header.ejs') %>
        <main class="main">
            <div class="col-sm-12">
              <div class="wrapper-table">
                <table class="table-users">
                  <thead>
                      <tr>
                          <th rowspan="2" scope="col">Имя пользователя</th>
                          <th rowspan="2" scope="col">Роль</th>
                          <th colspan="3" scope="col">Действия</th>
                      </tr>
                      <tr>
                        <th scope="col">Общие</th>
                        <th scope="col">Квадрат</th>
                        <th scope="col">Карусель</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% users.forEach(user => { %>
                          <tr>
                              <td><%= user.username %></td>
                              <td><%= user.role %></td>
                              <td>
                                <a class="ref-edit" href="/<%= user._id %>/edit">Редактировать</a>
                                <a class="ref-edit" href="#" onclick="confirmDelete_user('<%= user._id %>', '<%= user.username %>')" data-id="<%= user._id %>">Удалить</a>
                              </td>
                              <td>
                                <a class="ref-edit" href="#" onclick="confirmDelete_progress_square('<%= user._id %>', '<%= user.username %>')" data-id="<%= user._id %>">Сбросить прогресс</a>
                                <a class="ref-edit" href="/<%= user._id %>/upload_results_square">Выгрузить результаты</a>
                              </td>
                              <td>
                                <a class="ref-edit" href="#" onclick="confirmDelete_progress_carousel('<%= user._id %>', '<%= user.username %>')" data-id="<%= user._id %>">Сбросить прогресс</a>
                                <a class="ref-edit" href="/<%= user._id %>/upload_results_carousel">Выгрузить результаты</a>
                              </td>                              
                          </tr>
                      <% }); %>
                  </tbody>
                </table>  
              </div>
              <div class="href-container">
                <a class="ref-edit" href="/admin/add">Добавить нового пользователя</a>
                <a class="ref-edit" onclick="confirmDelete_progress_square_all()" href="#">Общий сброс прогресса квадрата</a>
                <a class="ref-edit" onclick="confirmDelete_progress_carousel_all()" href="#">Общий сброс прогресса карусели</a>              
                <td><a class="ref-edit" href="/upload_results_all">Выгрузить результаты</a></td>
              </div>        
          </div>
        </main>
        <%- include('com-footer.ejs') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/admin-confirmDelete.js"></script>
  </body>
</html>
