<%- include('./admin_modal_window-carousel.ejs') %>
<%- include('./admin_modal_window-square.ejs') %>
  <div class="col-sm-12">
    <div class="href-container"> 
      <a class="ref-edit" href="#" onclick="openModal_square()">Управление квадратом</a>
      <a class="ref-edit" href="#" onclick="openModal_carousel()">Управление каруселью</a>        
    </div>
    <p class="user-mgmt-title">Управление пользователями</p>  
    <a class="ref-edit add-users" href="/admin/add">Добавить нового пользователя</a>   
    <div class="wrapper-table">
      <table class="table-users">
        <thead>
            <tr>
                <th rowspan="2" scope="col">Имя пользователя</th>
                <th rowspan="2" scope="col">Роль</th>
                <th colspan="3" scope="col">Действия</th>
            </tr>
            <tr>
              <th scope="col">Общие</th>
              <th scope="col">Квадрат</th>
              <th scope="col">Карусель</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.role %></td>
                    <td>
                      <a class="ref-edit" href="/<%= user._id %>/edit">Редактировать</a>
                      <a class="ref-edit" href="#" onclick="confirmDelete_user('<%= user._id %>', '<%= user.username %>')" data-id="<%= user._id %>">Удалить</a>
                    </td>
                    <td>
                      <a class="ref-edit" href="#" onclick="confirmDelete_progress_square('<%= user._id %>', '<%= user.username %>')" data-id="<%= user._id %>">Сбросить прогресс</a>
                    </td>
                    <td>
                      <a class="ref-edit" href="#" onclick="confirmDelete_progress_carousel('<%= user._id %>', '<%= user.username %>')" data-id="<%= user._id %>">Сбросить прогресс</a>
                    </td>                              
                </tr>
            <% }); %>
        </tbody>
      </table>  
    </div>
</div>
